* {
  margin: 0;
  padding: 0;
  list-style: none;
}

li img {
  width: 600px;
  height: 400px;
}

/** Carousel **/

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 600px;
    height: 400px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
    bottom: 10px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    line-height: 14px;
    min-width: 14px;

    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;

    margin-right: 2px;

    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.select2-wrapper {
  width: 400px;
  margin: 0 auto 240px auto;
}

.select2-wrapper select {
  width: 400px;
  text-align-last: center;
}

.check-wrapper {
  width: 400px;
  margin: 0 auto 240px auto;
}

.flex-column {
  display: flex;
  flex-direction: column;;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.slide-down-menu {
  margin-bottom: 400px;
}

.menu {
  display: flex;
  justify-content: center;
  vertical-align: middle;

  width: 100%;
  height: 60px;
  padding-top: 40px;

  background-color: red;
}

.menu li {
  width: 100px;
  height: 30px;
  padding: 0px 30px;
  display: block;
}

.menu li:hover {

}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
  color: black;
  transition: .5s;
}

.first-sub-menu,
.second-sub-menu,
.third-sub-menu {
  position: absolute;

  background: #d64242;
  padding-top: 10px;
}

.first-sub-menu {
  top: 50px;
}

.second-sub-menu {
  top: 100px;
}


.drop-down {
  position: relative;
}

.main-drop-down::after {
  position: absolute;

  content: "";
  border: 6px solid transparent;
  border-top: 6px solid white;

  left: 75px;
  top: 6px;
}
